@media only screen and (min-width: 1600px) {
}
@media only screen and (max-width: 1599.98px) {
    .attribute{
        .outter, .inner{
            width: 30rem;
            height: 30rem;
        }
        .outter{
            top: 20%;
        }
        ul{
            top: 35%;
        }
    }
    .articleSlider {
        width: 90%;
    }
    .main-contactUs {
        padding: 0rem;
        height: 100vh;
        background-size: 20rem;
        font-size: 18px;
    }
    .main-about-us #_square_text_box{
        width: 25rem;
        height: 25rem;
        p{
            font-size: 1rem;
        }
    }
}
@media only screen and (max-width: 1199.98px) {
}
@media only screen and (max-width: 990.98px) {
}
@media only screen and (max-width: 767.98px) {
}
@media only screen and (max-width: 575.98px) {
}