@media only screen and (min-width: 1600px) {
}
@media only screen and (max-width: 1599.98px) {
    .attribute{
        .outter, .inner{
            width: 30rem;
            height: 30rem;
        }
        .outter{
            top: 20%;
        }
        ul{
            top: 32%;
        }
    }
    .articleSlider {
        width: 90%;
        padding: 0rem;
    }
    .main-contactUs {
        padding: 0rem;
        height: 100vh;
        background-size: 20rem;
        font-size: 18px;
    }
    .main-about-us #_square_text_box{
        width: 25rem;
        height: 25rem;
        p{
            font-size: 1rem;
        }
    }
    .Articles #_content #_rightOne #_article_items .item{
        height: 500px;
    }
    .careerOpportunities .row .position-sticky{
        padding: 2rem;
    }
}
@media only screen and (max-width: 1199.98px) {
    .main-about-us {
        margin: 10rem 0rem 1rem;
        #_square_text_box{
            width: 100%;
            height: 20rem;
            padding: 2rem;
            p{
                font-size: .8rem;
            }
        }
    }
    .resume #_content #_cv label{
        font-size: 1em;
    }
    .polygon{
        width: 15rem;
        height: 15rem;
        z-index: 100;
        .outter, .inner{
            width: 15rem;
            height: 15rem;
            p{
                font-size: 16px;                
            }
        }
    }
    .attribute{
        .outter, .inner{
            width: 20rem;
            height: 20rem;
        }
        ul{
            top:25.5%;
            li{
                font-size: 12px;
            }
        }
    }
    .articleSlider .swiper .swiper-wrapper .swiper-slide #_article_content {
        p, span{
            font-size: 12px;
        }
    }
    #_yellow_btn{
        height: 2.5rem;
        width: 7rem;
        font-size: 12px;
        &::after{
            height: 2.5rem;
        }
        &::before{
            width: 2.5rem;
        }
        span{
            left: 10px;
        }
    }
    .main-products {
        padding: 5rem 0rem;
    }
    .Articles #_content #_rightOne #_article_items .item {
        height: 350px;
        #__titr{
            font-size: 1.1em;
        }
        #__date{
            font-size: 0.6em;
        }
        #__summary{
            font-size: .8em;
        }
    }
    .article #_content #_leftOne #_list .item #__title{
        font-size: 1em;
    }
    .article #_header #__title{
        h1{
            font-size: 2em;
        }
    }
    .careerOpportunities #_header #__image #__text{
        font-size: 1.5em;
    }
    .careerOpportunities .row .position-sticky{
        padding: 1rem;
    }
    .careerOpportunities .row .position-sticky #_buttons button, 
    .careerOpportunities .row .position-sticky #_buttons a{
        font-size: 12px;
    }
}
@media only screen and (max-width: 990.98px) {
    .polygon{
        display: none;
    }
    .resume #_content #_cv{
        width: 50%
    }
    .Articles #_content #_rightOne #_article_items .item {
        height: 300px;
    }
    .Articles #_content #__discription {
        h1{
            font-size: 2em;
        }
        p{
            font-size: 1em;
        }
    } 
    .Articles #_content #_leftOne h3{
        font-size: 1.2em;
    }
    .Articles #_content #_rightOne #_options {
        #__category button, #__search input{
            font-size: .9em;
        }
    } 
    .Articles #_content #_leftOne #_list .item{
        height: 100px;
        #__title{
            font-size: .7em;
        }        
    } 
    .navbarMenu{
        svg{
            color: #fff;
            font-size: 1.5rem;
            cursor: pointer;
            display: block;
            z-index: 10;
            position: absolute;
            right: 1rem;
            top: 1rem;
        }
    }
    header .backHeader{
        height: 100vh;
        .headerCover{
            height: 3.5rem!important;
            top: 0px;
            width: 100%;
            height: 6rem;
        }
    } 
    .subComponent nav{
        padding: 5%;
    }
    nav{
        height: 0vh;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgba(0, 0, 0, .99);
        top: 0;
        width: 100%;
        position: fixed;
        right: 0;
        padding: 2rem;
        display: flex;
        opacity: 0;
        z-index: -100000000;
        transition: .3s ease all;
        overflow: hidden;
        .logo {
            width: 50px;
            height: 50px!important;
            visibility: hidden;
        }
        ul{
            flex-direction: column;
            li{
                margin-bottom: 1rem;
            }
            li:nth-child(even){
                display: none;
            }
        }
        .close{
            position: absolute;
            left: 2rem;
            right: unset;
        }
        &.show{
            // display: flex;
            opacity: 1;
            z-index: 10;
            height: 100vh;
            .logo{
                visibility: visible;
            }
        }
    }
    .attribute{
        .outter, .inner{
            display: none;
        }
    }
    .attribute ul li:nth-child(even), .attribute ul li:nth-child(3){
        padding-right: 0rem;
    }
    .lens{
        height: 60vh;
        margin: 0 auto;
        width: 85%;
        &::before{
            height: 100%;
        }
    }
    .main-products .mySwiper{
        padding: 2rem 0rem;
    }
    h2{
        font-size: 2em;
    }
    footer #_footerCover{
        font-size: 12px;
    }
    .article #_content #_rightOne p{
        font-size: 12px;
    }
    .article #_content #_leftOne #_list .item{
        height: 100px;
        #__title{
            font-size: .7em;
        }
    }
    .careerOpportunities .row .position-sticky{
        height: 45vh;
        p{
            font-size: 14px;
        }
        #_buttons{
            flex-direction: column;
            button, a {
                width: 100%;
                margin-bottom: 1rem;
            }
        }
    } 
}
@media only screen and (max-width: 767.98px) {
    .main-about-us #_square_text_box{
        height: 15rem;
    }
    .articleSlider h2{
        margin-bottom: 2rem;
    }
    .resume #_content #_cv{
        width: 100%;
    }
    .careerOpportunities{
        .row{
            .col-md-4{
                order: 2;
            }
            .col-md-8{
                padding: 0;
            }
            #_careers .item ._title, 
            #_search input{
                font-size: 14px;
            }
            #_careers .item ._item .__item_title span{
                font-size: 12px;
            }
        }
        #_header{
            display: none;
        }
    }
    .articleSlider .swiper .swiper-wrapper .swiper-slide{
        transform: scale(1);
    }
    .articleSlider button{
        margin-top: 1rem;
    }
    footer #_footerCover{
        padding: 1rem;
    }
    .Articles #_content #__discription{
        width: 100%;
    }
    .article #_header #__title{
        width: 100%;
        bottom: 6%;
    }
    .article #_content #_rightOne #_footer{
        margin: 0;
        button{
            margin-right: 0px;
            padding: 1rem;
        }
    } 
}
@media only screen and (max-width: 575.98px) {
    footer #_footerCover{
        flex-direction: column;
        font-size: 12px;
        text-align: center;
        padding: 1rem;
        p{
            order: 2;
        }
        a{
            order: 1;
            margin-bottom: .5rem;
        }
    }
    .resume #_content{
        padding: 3rem 1rem;
        #_header{
            width: 140px;
            margin: 2rem auto;
            border: none;
            button{
                font-size: 1.5em;
                &.absolute{
                    font-size: 8px;
                }
            }
        }
    }
    .contactUs #_content{
        padding: 5rem 1rem;
    }
    .careerOpportunities .row{
        padding: 5rem 1rem;
    }
    #_rightOne{
        margin-bottom: 5rem;
    }
    .Articles{
        padding-top: 3rem;
        #_content #_rightOne{
            padding: .5rem;
            #_options{
                flex-direction: column;
                #__category{
                    width: 100%;
                    margin-bottom: 2rem;
                    button#___news::before{
                        width: 0;
                    } 
                }
                #__search {
                    width: 100%;
                    input{
                        border-left: none;
                    }
                } 
            } 
            #_article_items .item{
                width: 100%;
                height: 400px;
            }
        } 
    }
    .main-contactUs{
        font-size: 12px;
    }
    .main-about-us{
        padding: 0;
        height: 75vh;
    }
    .main-about-us #_square_text_box{
        width: 85%;
        margin: 0 auto;
    }
    .attribute{
        padding: 0rem 1rem;
        ul{
            padding: 0;
        }
    }
}