$text: #d4d4d4;
$yellow: #FCC10D;

$fa-font-path: "../font/fontawesome-free-6.1.1-web/webfonts";
@import "../font/fontawesome-free-6.1.1-web/scss/fontawesome.scss";
@import "../font/fontawesome-free-6.1.1-web/scss/solid.scss";
@import '../../articles/css/style.scss';


body{
    direction: rtl;
    background-color: #1C1917;
}
ul{
    margin-bottom: 0px!important;
}
a, button{
    text-decoration: none;
    outline: none;
    border: none;
}
a:hover{
    color: inherit!important;
}
h2{
    color: #707070;
    font-size: 3em;
}
.polygon{
    position: absolute;
    bottom: -1em;
    right: 15%;
    width: 25rem;
    height: 25rem;
    transform: rotate(0deg);
    &:first-child{
        width: 25rem;
        height: 25rem;        
    }
    &#show{
        z-index: -1;
    }
}
    #_scroll_rotate{
        width: 25rem;
        height: 25rem;
    }
    .outter {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25rem;
        height: 25rem;
        overflow: hidden;
        z-index: 10;
        p{
            color: #D4D4D4;
            z-index: 1;
            font-size: 26px;
            padding: 12%;
            text-align: center;
            line-height: 2.1;
        }
      }
      
      .outter:before,
      .outter:after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 2px;
        height: 86px;
        margin-top: -41px;
        z-index: 1;
      }
      
      .outter:after {
        left: auto;
        right: 0;
        margin-top: -45px;
        height: 92px;
      }
      
      .inner {
        position: absolute;
        top: 0px;
        width: 25rem;
        height: 25rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000000;
        border-width: 2px;
        -webkit-transform: rotate(45deg);
      }
      
      .inner:before,
      .inner:after {
        -webkit-transform: rotate(45deg);
        content: "";
        position: absolute;
        width: 2px;
        
        height: 85px;
        margin-top: -41px;
        z-index: 1;
        right: auto;
        left: 27px;
        bottom: auto;
        top: 27px;
      }
      
      .inner:after {
        height: 90px;
        right: 30px;
        left: auto;
        bottom: -13px;
        top: auto;
      }
      .navbarMenu{
          svg{
              display: none;
                  }
      }
nav{
    transition: .3s ease all;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $text;
    .logo{
        width: 80px;
        height: 80px;
    }
    .menu{
        width: 55%;
        ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            li:nth-child(even){
                color: rgb(112, 112, 112);
            }
        }
    }
    .language, .signIn{
        color: #a3a3a3;
        border: 1px solid #707070;
        padding: .3rem;
        border-radius: 4px;
        transition: .3s ease all;
        margin-right: 1rem;
        font-size: .9em;
        &:hover{
            box-shadow: 0px 0px 5px 2px;
            background-color: #000000;
        }
    }
}
#_yellow_btn{
    @extend %fa-icon;
    @extend .fa-solid;
    width: 11rem;
    height: 3rem;
    border: none;
    outline: none;
    color: #a3a3a3;
    cursor: pointer;
    position: relative;
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: .7s ease all;
    background: transparent;
    background-size: 10%;
    background-position: -270px 0;
    background-repeat: no-repeat;
    &::before{
        content: '\f178';
        width: 3rem;
        height: 100%;
        position: absolute;
        left: 0px;
        opacity: 1;
        border-radius: 50px;
        display: flex;
        z-index: 2;
        align-items: center;
        background-color: #424242;
        justify-content: center;
        transition: 1s ease all;
    }
    &::after{
        content:'';
        font-family: 'Font-Awesome';
        width: 0rem;
        height: 3rem;
        position: absolute;
        left: 0px;
        border-radius: 50px;
        display: flex;
        z-index: .3;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        transition: 1.2s ease all;
        background: rgb(45,226,140);
        background: linear-gradient(130deg, rgba(45,226,140,1) 0%, rgba(166,64,206,1) 50%, rgba(205,95,63,1) 100%);
        background-size: 200% 100%;
        opacity: 0;
        background-position:left bottom;
    }
    span{
        z-index: 3;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        direction: ltr;
        justify-content: center;
        border-radius: 50px;
        transition: .4s ease all;
        position: absolute;
        left: 0px;
    }
    &:hover {
        &::before{
            content: '';
            z-index: 1;
            color: #fff;
            width: 100%;
            opacity: 0;
        }
        &::after{
            width: 100%;
            z-index: 3;
            opacity: 1;            
            transition: .5s ease all;
        }
        span{
            color: #eee;
            z-index: 4;
        }
    }
}

footer{
    background-image: url('../../../img/pexels.jpg');
    background-size: cover;
    #_footerCover{
        backdrop-filter: blur(8px);
        background-color: rgba(0, 0, 0, .7);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5rem;
        color: #D4D4D4;
    }
    p{
        color: $text;
        margin-bottom: 0px;
    }
}
.subComponent{
    nav{
        padding: 1% 5%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(30px);
        background-color: rgb(0 40 48 / 49%);
    }
}

.login{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 1000;
    transform: translateX(100%);
    transition: 1s ease transform;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    backdrop-filter: blur(3px);
    background-color: rgb(0 41 50 / 75%);
    .right{
        height: 100vh;
        width: 50%;
        overflow: auto;
        position: relative;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    form{
        background-color: #f1f5f9;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        transition: 1s ease all;
        position: relative;
        min-height: 100%;
        max-height: 600px;
        justify-content: center;
        padding: 10% 30%;
        h2{
            margin-bottom: 2rem;
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
        }
        input{
            border: 1px solid #64748b;
            border-left: none;
            border-top: none;
            background-color: transparent;
            margin-top: 2rem;
            width: 100%;
            padding: 0 8px;
        }
        #recovery{
            font-size: 12px;
            margin-top: .5rem;
            color: #64748b
            ;
        }
        button{
            background-color: $yellow;
            color: #475569;
            padding: .5em 4em;
            margin-top: 2rem;
            border-radius: 8px;
            transition: .2s ease all;
            &:hover{
                background-color: #d6a100;
            }
        }
        span{
            width: 100%;
            text-align: center;
            margin-top: 3rem;
            display: flex;
            color: #475569;
            justify-content: space-between;
            align-items: center;
            font-size: 20px;
            &::after, &::before{
                content: '';
                height: 3px;
                width: 48%;
                background-color: #b2570a;
                display: flex;
            }
        }
        .registerBtn{
            width: 100%;
            text-align: center;
            margin-top: 2rem;
            a{
                background-color: $yellow;
                color: #475569!important;
                padding: .5em;
                transition: .2s ease all;
                width: 60%;
                margin: 0 auto;
                border-radius: 8px;
                display: block;
                &:hover{
                    background-color: #d6a100;
                }
            }
        }
    }
    .registerForm{
        transform: translateX(100%);
        display: flex;
        position: absolute;
        transition: .5s ease;
        right: 0;
        &#show{
            transform: translateX(0%);
        }
    }
    .logInForm{
        transform: translateX(100%);
        display: flex;
        position: absolute;
        transition: .5s ease;
        right: 0;
        &#show{
            transform: translateX(0%);
        }
    }
    .welcome{
        width: 50%;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width: 20%;
            height: unset;
        }
        p{
            margin-top: 5rem;
            font-size: 1.2em;
        }
    }
    .back{
        position: absolute;
        color: #f1f5f9;
        font-size: 40px;
        left: 2rem;
        top: 2rem;
        cursor: pointer;
        svg{
            display: block;
            left: 1rem;
            right: unset;
        }
    }
    &#show{
        opacity: 1;
        transition: 1s ease transform;
        transform: translateX(0%);
    }
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 100% 0; }
    100% { background-position: 0 0; }
}