header .backHeader {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
header .backHeader img {
  height: 100%;
}
header .backHeader .headerCover {
  width: 95%;
  height: 71%;
  padding: 2% 3%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.2s ease width;
}
header .backHeader .headerCover.relative {
  padding: 2% 3%;
}
header .backHeader .headerCover.fixed {
  padding: 1% 3%;
  width: 100%;
  top: 0px;
  z-index: 100;
}
header .backHeader .headerCover.fixed nav .logo {
  height: 60px;
}
header .react-parallax {
  width: 100%;
  height: 100%;
}
header .react-parallax .react-parallax-content {
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 2rem;
}

.main-about-us {
  padding: 0% 10%;
  float: left;
  height: 100vh;
}
.main-about-us #_square_text_box {
  width: 35rem;
  height: 35rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main-about-us #_square_text_box p {
  color: #d4d4d4;
  margin-bottom: 3rem;
  font-size: 1.5em;
}

.lens {
  padding: 10px 0px;
  width: 60%;
  height: 30rem;
  margin: 10rem auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lens::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -20px;
  width: 100%;
  height: calc(100% + 40px);
  background: linear-gradient(90deg, rgb(205, 95, 63) 0%, rgb(166, 64, 206) 50%, rgb(45, 226, 140) 100%);
  z-index: -1;
}
.lens #_border_gradient {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-image: url("../../../img/1dd3700.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lens #_border_gradient #_main_img {
  width: 100%;
}
.lens #_border_gradient #_fixed_img {
  position: fixed;
}
.lens canvas {
  position: relative;
  left: 50%;
  top: 50%;
  max-height: 100vh;
  max-width: 100vw;
  transform: translate(-50%, -50%);
}

.text-slide {
  padding: 5rem 0rem;
  display: flex;
  justify-content: center;
  color: #d4d4d4;
  position: relative;
}
.text-slide .swiper {
  width: 100%;
  height: 200px;
}
.text-slide .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #404040;
}
.text-slide .swiper-slide.swiper-slide-active {
  color: #404040;
}
.text-slide .swiper-slide.swiper-slide-next {
  color: #d4d4d4;
}

.main-products {
  padding: 13rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-products #_imgSlider {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.main-products .mySwiper {
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 7rem 0rem;
  width: 100%;
  height: 100%;
}
.main-products .mySwiper .slideItem {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.main-products .mySwiper .slideItem:nth-child(0) {
  border: 5px solid rgb(158, 82, 146);
}
.main-products .mySwiper .slideItem:nth-child(1) {
  border: 5px solid rgb(154, 228, 202);
}
.main-products .mySwiper .slideItem:nth-child(2) {
  border: 5px solid rgb(248, 130, 199);
}
.main-products .mySwiper .slideItem:nth-child(3) {
  border: 5px solid rgb(114, 163, 148);
}
.main-products .mySwiper .slideItem:nth-child(4) {
  border: 5px solid rgb(219, 69, 253);
}
.main-products .mySwiper .slideItem:nth-child(5) {
  border: 5px solid rgb(84, 8, 145);
}
.main-products .mySwiper .slideItem:nth-child(6) {
  border: 5px solid rgb(211, 118, 223);
}
.main-products .mySwiper .slideItem:nth-child(7) {
  border: 5px solid rgb(151, 230, 111);
}
.main-products .mySwiper .slideItem:nth-child(8) {
  border: 5px solid rgb(169, 217, 203);
}
.main-products .mySwiper .slideItem:nth-child(9) {
  border: 5px solid rgb(84, 139, 194);
}
.main-products .mySwiper .slideItem:nth-child(10) {
  border: 5px solid rgb(31, 14, 127);
}
.main-products .mySwiper .slideItem:nth-child(11) {
  border: 5px solid rgb(185, 198, 27);
}
.main-products .mySwiper .slideItem:nth-child(12) {
  border: 5px solid rgb(56, 220, 161);
}
.main-products .mySwiper .slideItem:nth-child(13) {
  border: 5px solid rgb(63, 216, 6);
}
.main-products .mySwiper .slideItem:nth-child(14) {
  border: 5px solid rgb(193, 224, 7);
}
.main-products .mySwiper .slideItem:nth-child(15) {
  border: 5px solid rgb(139, 230, 111);
}
.main-products .mySwiper .slideItem:nth-child(16) {
  border: 5px solid rgb(123, 147, 125);
}
.main-products .mySwiper .slideItem:nth-child(17) {
  border: 5px solid rgb(188, 240, 220);
}
.main-products .mySwiper .slideItem:nth-child(18) {
  border: 5px solid rgb(199, 34, 229);
}
.main-products .mySwiper .slideItem:nth-child(19) {
  border: 5px solid rgb(249, 53, 71);
}
.main-products .mySwiper .slideItem:nth-child(20) {
  border: 5px solid rgb(183, 191, 70);
}
.main-products .mySwiper .slideItem:nth-child(21) {
  border: 5px solid rgb(48, 246, 187);
}
.main-products .mySwiper .slideItem:nth-child(22) {
  border: 5px solid rgb(168, 110, 134);
}
.main-products .mySwiper .slideItem:nth-child(23) {
  border: 5px solid rgb(196, 112, 211);
}
.main-products .mySwiper .slideItem:nth-child(24) {
  border: 5px solid rgb(227, 83, 145);
}
.main-products .mySwiper .slideItem:nth-child(25) {
  border: 5px solid rgb(19, 30, 8);
}
.main-products .mySwiper .slideItem:nth-child(26) {
  border: 5px solid rgb(104, 29, 207);
}
.main-products .mySwiper .slideItem:nth-child(27) {
  border: 5px solid rgb(59, 54, 75);
}
.main-products .mySwiper .slideItem:nth-child(28) {
  border: 5px solid rgb(112, 30, 189);
}
.main-products .mySwiper .slideItem:nth-child(29) {
  border: 5px solid rgb(26, 68, 75);
}
.main-products .mySwiper .slideItem:nth-child(30) {
  border: 5px solid rgb(51, 198, 173);
}
.main-products .mySwiper .slideItem:nth-child(31) {
  border: 5px solid rgb(238, 248, 118);
}
.main-products .mySwiper .slideItem:nth-child(32) {
  border: 5px solid rgb(245, 36, 36);
}
.main-products .mySwiper .slideItem:nth-child(33) {
  border: 5px solid rgb(136, 131, 103);
}
.main-products .mySwiper .slideItem:nth-child(34) {
  border: 5px solid rgb(20, 175, 101);
}
.main-products .mySwiper .slideItem:nth-child(35) {
  border: 5px solid rgb(178, 10, 228);
}
.main-products .mySwiper .slideItem:nth-child(36) {
  border: 5px solid rgb(189, 236, 194);
}
.main-products .mySwiper .slideItem:nth-child(37) {
  border: 5px solid rgb(20, 250, 209);
}
.main-products .mySwiper .slideItem:nth-child(38) {
  border: 5px solid rgb(160, 144, 236);
}
.main-products .mySwiper .slideItem:nth-child(39) {
  border: 5px solid rgb(165, 189, 6);
}
.main-products .mySwiper .slideItem:nth-child(40) {
  border: 5px solid rgb(34, 16, 34);
}
.main-products .mySwiper .slideItem:nth-child(41) {
  border: 5px solid rgb(82, 17, 55);
}
.main-products .mySwiper .slideItem:nth-child(42) {
  border: 5px solid rgb(90, 186, 154);
}
.main-products .mySwiper .slideItem:nth-child(43) {
  border: 5px solid rgb(196, 94, 230);
}
.main-products .mySwiper .slideItem:nth-child(44) {
  border: 5px solid rgb(63, 177, 100);
}
.main-products .mySwiper .slideItem:nth-child(45) {
  border: 5px solid rgb(12, 237, 183);
}
.main-products .mySwiper .slideItem:nth-child(46) {
  border: 5px solid rgb(58, 243, 57);
}
.main-products .mySwiper .slideItem:nth-child(47) {
  border: 5px solid rgb(167, 147, 212);
}
.main-products .mySwiper .slideItem:nth-child(48) {
  border: 5px solid rgb(66, 208, 221);
}
.main-products .mySwiper .slideItem:nth-child(49) {
  border: 5px solid rgb(245, 84, 223);
}
.main-products .mySwiper .slideItem:nth-child(50) {
  border: 5px solid rgb(10, 178, 161);
}
.main-products .mySwiper .slideItem:nth-child(51) {
  border: 5px solid rgb(141, 14, 40);
}
.main-products .mySwiper .slideItem:nth-child(52) {
  border: 5px solid rgb(140, 31, 161);
}
.main-products .mySwiper .slideItem:nth-child(53) {
  border: 5px solid rgb(41, 79, 83);
}
.main-products .mySwiper .slideItem:nth-child(54) {
  border: 5px solid rgb(14, 132, 25);
}
.main-products .mySwiper .slideItem:nth-child(55) {
  border: 5px solid rgb(97, 187, 1);
}
.main-products .mySwiper .slideItem:nth-child(56) {
  border: 5px solid rgb(128, 208, 108);
}
.main-products .mySwiper .slideItem:nth-child(57) {
  border: 5px solid rgb(206, 97, 71);
}
.main-products .mySwiper .slideItem:nth-child(58) {
  border: 5px solid rgb(209, 134, 233);
}
.main-products .mySwiper .slideItem:nth-child(59) {
  border: 5px solid rgb(219, 197, 231);
}
.main-products .mySwiper .slideItem:nth-child(60) {
  border: 5px solid rgb(213, 190, 31);
}
.main-products .mySwiper .slideItem:nth-child(61) {
  border: 5px solid rgb(91, 230, 117);
}
.main-products .mySwiper .slideItem:nth-child(62) {
  border: 5px solid rgb(57, 211, 157);
}
.main-products .mySwiper .slideItem:nth-child(63) {
  border: 5px solid rgb(213, 227, 161);
}
.main-products .mySwiper .slideItem:nth-child(64) {
  border: 5px solid rgb(32, 245, 44);
}
.main-products .mySwiper .slideItem:nth-child(65) {
  border: 5px solid rgb(79, 196, 80);
}
.main-products .mySwiper .slideItem:nth-child(66) {
  border: 5px solid rgb(172, 151, 37);
}
.main-products .mySwiper .slideItem:nth-child(67) {
  border: 5px solid rgb(123, 82, 189);
}
.main-products .mySwiper .slideItem:nth-child(68) {
  border: 5px solid rgb(90, 215, 196);
}
.main-products .mySwiper .slideItem:nth-child(69) {
  border: 5px solid rgb(118, 168, 105);
}
.main-products .mySwiper .slideItem:nth-child(70) {
  border: 5px solid rgb(60, 168, 114);
}
.main-products .mySwiper .slideItem:nth-child(71) {
  border: 5px solid rgb(65, 159, 215);
}
.main-products .mySwiper .slideItem:nth-child(72) {
  border: 5px solid rgb(151, 227, 204);
}
.main-products .mySwiper .slideItem:nth-child(73) {
  border: 5px solid rgb(223, 2, 149);
}
.main-products .mySwiper .slideItem:nth-child(74) {
  border: 5px solid rgb(145, 222, 253);
}
.main-products .mySwiper .slideItem:nth-child(75) {
  border: 5px solid rgb(18, 11, 91);
}
.main-products .mySwiper .slideItem:nth-child(76) {
  border: 5px solid rgb(212, 24, 191);
}
.main-products .mySwiper .slideItem:nth-child(77) {
  border: 5px solid rgb(235, 75, 17);
}
.main-products .mySwiper .slideItem:nth-child(78) {
  border: 5px solid rgb(198, 190, 127);
}
.main-products .mySwiper .slideItem:nth-child(79) {
  border: 5px solid rgb(13, 167, 183);
}
.main-products .mySwiper .slideItem:nth-child(80) {
  border: 5px solid rgb(8, 38, 253);
}
.main-products .mySwiper .slideItem:nth-child(81) {
  border: 5px solid rgb(174, 211, 131);
}
.main-products .mySwiper .slideItem:nth-child(82) {
  border: 5px solid rgb(6, 21, 117);
}
.main-products .mySwiper .slideItem:nth-child(83) {
  border: 5px solid rgb(30, 226, 133);
}
.main-products .mySwiper .slideItem:nth-child(84) {
  border: 5px solid rgb(4, 203, 172);
}
.main-products .mySwiper .slideItem:nth-child(85) {
  border: 5px solid rgb(144, 67, 142);
}
.main-products .mySwiper .slideItem:nth-child(86) {
  border: 5px solid rgb(164, 63, 100);
}
.main-products .mySwiper .slideItem:nth-child(87) {
  border: 5px solid rgb(182, 6, 251);
}
.main-products .mySwiper .slideItem:nth-child(88) {
  border: 5px solid rgb(146, 169, 197);
}
.main-products .mySwiper .slideItem:nth-child(89) {
  border: 5px solid rgb(126, 181, 9);
}
.main-products .mySwiper .slideItem:nth-child(90) {
  border: 5px solid rgb(33, 222, 203);
}
.main-products .mySwiper .slideItem:nth-child(91) {
  border: 5px solid rgb(232, 97, 187);
}
.main-products .mySwiper .slideItem:nth-child(92) {
  border: 5px solid rgb(98, 193, 130);
}
.main-products .mySwiper .slideItem:nth-child(93) {
  border: 5px solid rgb(63, 10, 206);
}
.main-products .mySwiper .slideItem:nth-child(94) {
  border: 5px solid rgb(189, 196, 118);
}
.main-products .mySwiper .slideItem:nth-child(95) {
  border: 5px solid rgb(35, 40, 12);
}
.main-products .mySwiper .slideItem:nth-child(96) {
  border: 5px solid rgb(203, 133, 13);
}
.main-products .mySwiper .slideItem:nth-child(97) {
  border: 5px solid rgb(2, 213, 151);
}
.main-products .mySwiper .slideItem:nth-child(98) {
  border: 5px solid rgb(237, 140, 38);
}
.main-products .mySwiper .slideItem:nth-child(99) {
  border: 5px solid rgb(48, 159, 136);
}
.main-products .mySwiper .slideItem img {
  width: 100%;
  opacity: 0.3;
  transition: 0.3s ease opacity;
}
.main-products .mySwiper .slideItem:hover img {
  opacity: 1;
}

.attribute {
  padding: 4rem 3rem;
  display: flex;
  align-items: center;
}
.attribute .outter {
  bottom: unset;
  top: 0rem;
  position: relative;
  right: -145px;
  width: 50rem;
  height: 50rem;
  transition: 0.5s ease all;
}
.attribute .outter img {
  transform: rotate(-67deg);
  height: 110%;
  transition: 0.5s ease all;
}
.attribute .inner {
  width: 50rem;
  height: 50rem;
}
.attribute ul li:nth-child(0) svg {
  color: rgb(58, 81, 58);
}
.attribute ul li:nth-child(1) svg {
  color: rgb(189, 237, 32);
}
.attribute ul li:nth-child(2) svg {
  color: rgb(86, 8, 54);
}
.attribute ul li:nth-child(3) svg {
  color: rgb(85, 218, 137);
}
.attribute ul li:nth-child(4) svg {
  color: rgb(94, 55, 242);
}
.attribute ul li:nth-child(5) svg {
  color: rgb(83, 123, 250);
}
.attribute ul li:nth-child(6) svg {
  color: rgb(19, 202, 29);
}
.attribute ul li:nth-child(7) svg {
  color: rgb(217, 204, 24);
}
.attribute ul li:nth-child(8) svg {
  color: rgb(30, 88, 236);
}
.attribute ul li:nth-child(9) svg {
  color: rgb(141, 160, 132);
}
.attribute ul li:nth-child(10) svg {
  color: rgb(68, 193, 239);
}
.attribute ul li:nth-child(11) svg {
  color: rgb(31, 51, 122);
}
.attribute ul li:nth-child(12) svg {
  color: rgb(147, 193, 44);
}
.attribute ul li:nth-child(13) svg {
  color: rgb(34, 100, 112);
}
.attribute ul li:nth-child(14) svg {
  color: rgb(180, 67, 64);
}
.attribute ul li:nth-child(15) svg {
  color: rgb(134, 160, 20);
}
.attribute ul li:nth-child(16) svg {
  color: rgb(63, 104, 105);
}
.attribute ul li:nth-child(17) svg {
  color: rgb(209, 247, 133);
}
.attribute ul li:nth-child(18) svg {
  color: rgb(240, 206, 160);
}
.attribute ul li:nth-child(19) svg {
  color: rgb(77, 2, 81);
}
.attribute ul li:nth-child(20) svg {
  color: rgb(1, 75, 195);
}
.attribute ul li:nth-child(21) svg {
  color: rgb(210, 156, 138);
}
.attribute ul li:nth-child(22) svg {
  color: rgb(82, 104, 64);
}
.attribute ul li:nth-child(23) svg {
  color: rgb(2, 146, 204);
}
.attribute ul li:nth-child(24) svg {
  color: rgb(145, 194, 167);
}
.attribute ul li:nth-child(25) svg {
  color: rgb(64, 142, 243);
}
.attribute ul li:nth-child(26) svg {
  color: rgb(169, 147, 81);
}
.attribute ul li:nth-child(27) svg {
  color: rgb(58, 175, 176);
}
.attribute ul li:nth-child(28) svg {
  color: rgb(92, 164, 204);
}
.attribute ul li:nth-child(29) svg {
  color: rgb(82, 119, 48);
}
.attribute ul li:nth-child(30) svg {
  color: rgb(174, 246, 102);
}
.attribute ul li:nth-child(31) svg {
  color: rgb(28, 10, 166);
}
.attribute ul li:nth-child(32) svg {
  color: rgb(24, 205, 6);
}
.attribute ul li:nth-child(33) svg {
  color: rgb(1, 234, 24);
}
.attribute ul li:nth-child(34) svg {
  color: rgb(146, 126, 58);
}
.attribute ul li:nth-child(35) svg {
  color: rgb(71, 49, 137);
}
.attribute ul li:nth-child(36) svg {
  color: rgb(144, 100, 250);
}
.attribute ul li:nth-child(37) svg {
  color: rgb(141, 153, 146);
}
.attribute ul li:nth-child(38) svg {
  color: rgb(15, 71, 26);
}
.attribute ul li:nth-child(39) svg {
  color: rgb(247, 76, 129);
}
.attribute ul li:nth-child(40) svg {
  color: rgb(220, 57, 42);
}
.attribute ul li:nth-child(41) svg {
  color: rgb(195, 31, 250);
}
.attribute ul li:nth-child(42) svg {
  color: rgb(47, 160, 174);
}
.attribute ul li:nth-child(43) svg {
  color: rgb(154, 137, 15);
}
.attribute ul li:nth-child(44) svg {
  color: rgb(174, 157, 145);
}
.attribute ul li:nth-child(45) svg {
  color: rgb(190, 70, 165);
}
.attribute ul li:nth-child(46) svg {
  color: rgb(108, 204, 190);
}
.attribute ul li:nth-child(47) svg {
  color: rgb(146, 22, 135);
}
.attribute ul li:nth-child(48) svg {
  color: rgb(244, 126, 136);
}
.attribute ul li:nth-child(49) svg {
  color: rgb(165, 118, 77);
}
.attribute ul li:nth-child(50) svg {
  color: rgb(176, 142, 82);
}
.attribute ul li:nth-child(51) svg {
  color: rgb(251, 235, 28);
}
.attribute ul li:nth-child(52) svg {
  color: rgb(58, 142, 13);
}
.attribute ul li:nth-child(53) svg {
  color: rgb(43, 51, 97);
}
.attribute ul li:nth-child(54) svg {
  color: rgb(39, 76, 101);
}
.attribute ul li:nth-child(55) svg {
  color: rgb(63, 25, 66);
}
.attribute ul li:nth-child(56) svg {
  color: rgb(137, 84, 27);
}
.attribute ul li:nth-child(57) svg {
  color: rgb(29, 73, 177);
}
.attribute ul li:nth-child(58) svg {
  color: rgb(113, 251, 84);
}
.attribute ul li:nth-child(59) svg {
  color: rgb(71, 61, 215);
}
.attribute ul li:nth-child(60) svg {
  color: rgb(187, 229, 220);
}
.attribute ul li:nth-child(61) svg {
  color: rgb(248, 201, 1);
}
.attribute ul li:nth-child(62) svg {
  color: rgb(18, 22, 198);
}
.attribute ul li:nth-child(63) svg {
  color: rgb(243, 208, 110);
}
.attribute ul li:nth-child(64) svg {
  color: rgb(247, 45, 245);
}
.attribute ul li:nth-child(65) svg {
  color: rgb(208, 98, 154);
}
.attribute ul li:nth-child(66) svg {
  color: rgb(69, 67, 227);
}
.attribute ul li:nth-child(67) svg {
  color: rgb(251, 185, 188);
}
.attribute ul li:nth-child(68) svg {
  color: rgb(243, 38, 175);
}
.attribute ul li:nth-child(69) svg {
  color: rgb(153, 8, 28);
}
.attribute ul li:nth-child(70) svg {
  color: rgb(99, 109, 133);
}
.attribute ul li:nth-child(71) svg {
  color: rgb(171, 226, 93);
}
.attribute ul li:nth-child(72) svg {
  color: rgb(102, 29, 195);
}
.attribute ul li:nth-child(73) svg {
  color: rgb(7, 171, 133);
}
.attribute ul li:nth-child(74) svg {
  color: rgb(88, 190, 207);
}
.attribute ul li:nth-child(75) svg {
  color: rgb(53, 161, 238);
}
.attribute ul li:nth-child(76) svg {
  color: rgb(82, 156, 223);
}
.attribute ul li:nth-child(77) svg {
  color: rgb(19, 135, 33);
}
.attribute ul li:nth-child(78) svg {
  color: rgb(101, 186, 229);
}
.attribute ul li:nth-child(79) svg {
  color: rgb(243, 52, 212);
}
.attribute ul li:nth-child(80) svg {
  color: rgb(96, 91, 50);
}
.attribute ul li:nth-child(81) svg {
  color: rgb(120, 146, 10);
}
.attribute ul li:nth-child(82) svg {
  color: rgb(109, 226, 156);
}
.attribute ul li:nth-child(83) svg {
  color: rgb(141, 70, 149);
}
.attribute ul li:nth-child(84) svg {
  color: rgb(217, 16, 183);
}
.attribute ul li:nth-child(85) svg {
  color: rgb(147, 193, 241);
}
.attribute ul li:nth-child(86) svg {
  color: rgb(125, 252, 113);
}
.attribute ul li:nth-child(87) svg {
  color: rgb(245, 146, 240);
}
.attribute ul li:nth-child(88) svg {
  color: rgb(221, 2, 116);
}
.attribute ul li:nth-child(89) svg {
  color: rgb(114, 67, 78);
}
.attribute ul li:nth-child(90) svg {
  color: rgb(103, 133, 161);
}
.attribute ul li:nth-child(91) svg {
  color: rgb(234, 93, 214);
}
.attribute ul li:nth-child(92) svg {
  color: rgb(144, 186, 216);
}
.attribute ul li:nth-child(93) svg {
  color: rgb(253, 162, 100);
}
.attribute ul li:nth-child(94) svg {
  color: rgb(149, 204, 241);
}
.attribute ul li:nth-child(95) svg {
  color: rgb(104, 53, 66);
}
.attribute ul li:nth-child(96) svg {
  color: rgb(23, 125, 191);
}
.attribute ul li:nth-child(97) svg {
  color: rgb(190, 176, 15);
}
.attribute ul li:nth-child(98) svg {
  color: rgb(254, 244, 105);
}
.attribute ul li:nth-child(99) svg {
  color: rgb(163, 4, 28);
}
.attribute ul li {
  color: #d4d4d4;
  margin-bottom: 2rem;
}
.attribute ul li:nth-child(even) {
  padding-right: 2rem;
}
.attribute ul li:nth-child(3) {
  padding-right: 4rem;
}
.attribute ul li svg {
  color: #000;
}

.articleSlider {
  width: 75%;
  padding: 20rem 0rem 0rem;
  margin: 0 auto;
  text-align: center;
}
.articleSlider h2 {
  margin-bottom: 5rem;
}
.articleSlider .swiper {
  width: 100%;
  height: 100%;
}
.articleSlider .swiper .swiper-wrapper {
  align-items: flex-end;
}
.articleSlider .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  cursor: -webkit-grab;
  cursor: grab;
  transition: 0.5s ease all;
  transform-origin: 50% 100%;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.5);
}
.articleSlider .swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.articleSlider .swiper .swiper-wrapper .swiper-slide.swiper-slide-next {
  transform: scale(1);
}
.articleSlider .swiper .swiper-wrapper .swiper-slide #_article_content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0) 100%);
  color: #d4d4d4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
}
.articleSlider .swiper .swiper-wrapper .swiper-slide #_article_content p {
  font-size: medium;
}
.articleSlider .swiper .swiper-wrapper .swiper-slide #_article_content span {
  font-size: small;
}
.articleSlider .swiper .swiper-wrapper .swiper-slide a {
  display: inherit;
}
.articleSlider .swiper .swiper-wrapper .swiper-slide a:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.articleSlider button {
  margin: 7rem auto 0rem;
}

.main-contactUs {
  padding: 30rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d4d4d4;
  font-size: 26px;
  background-image: url(../../../img/Group\ 51.png);
  background-position: center;
  background-repeat: no-repeat;
}/*# sourceMappingURL=style.css.map */