$text: #d4d4d4;
$yellow: #FCC10D;
$darkText: #404040;


@mixin random-bc(){
    border: 5px solid rgb(random(255), random(255), random(255));
}
@mixin random-c(){
    color: rgb(random(255), random(255), random(255));
}

header{
    // margin-bottom: 20rem;
    .backHeader{
        width: 100%;
        height: 80vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        img{
            height: 100%;
        }
        .headerCover{
            width: 95%;
            height: 71%;
            padding: 2% 3%;
            position: fixed;
            background-color: rgba(0,0,0,.8);
            transition: .2s ease width;
            &.relative{
                padding: 2% 3%;
            }
            &.fixed{
                padding: 1% 3%;
                width: 100%;
                top: 0px;
                z-index: 100;
                nav{
                    .logo{
                        height: 60px;
                    }
                }
            }
        }
    }
    .react-parallax {
        width: 100%;
        height: 100%;
        .react-parallax-content{
            display: flex;
            height: 100%;
            justify-content: center;
            padding: 2rem;
        }
    }
}
.main-about-us{
    padding: 0% 10%;
    float: left;
    height: 100vh;
    #_square_text_box{
        width: 35rem;
        height: 35rem;
        background-color: rgba(0,0,0,.6);
        border-radius: 8px;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        p{
            color: $text;
            margin-bottom: 3rem;
            font-size: 1.5em;
        }
    }
}
.lens{
    padding: 10px 0px;
    width: 60%;
    height: 30rem;
    margin: 10rem auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
        content: '';
        position: absolute;
        left: 0px;
        top: -20px;
        width: 100%;
        height: calc(100% + 40px);
        background: linear-gradient(90deg, rgba(205, 95, 63, 1) 0%, rgba(166, 64, 206, 1) 50%, rgba(45, 226, 140, 1) 100%);
        z-index: -1;
    }
    #_border_gradient{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
        background-image: url("../../../img/1dd3700.jpg");
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        #_main_img{
            width: 100%;
        }
        #_fixed_img{
            position: fixed;
        }
    }
    canvas {
        position: relative;
        left: 50%;
        top: 50%;
        max-height: 100vh;
        max-width: 100vw;
        transform: translate(-50%, -50%);
      }
}
.text-slide{
    padding: 5rem 0rem;
    display: flex;
    justify-content: center;
    color: $text;
    position: relative;
    .swiper {
        width: 100%;
        height: 200px;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;      
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        color: #404040;
        &.swiper-slide-active{
            color: #404040;
        }
        &.swiper-slide-next{
            color: $text;
        }
      }
}
.main-products{
    padding: 13rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    #_imgSlider{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        // padding: 0rem 2rem;
    }
    .mySwiper{
        display: flex;
        width: max-content;
        $sliderNum: attr('data-fesa-num');
        padding: 7rem 0rem;
        width: 100%;
        height: 100%;
        .slideItem{
            width: 15rem;
            height: 15rem;
            overflow: hidden;
            display: flex;
            align-items: center;
            $num-colors: 20;
            @for $i from 0 to $num-colors {
                &:nth-child(#{$i}) {
                    @include random-bc();
                }
            }
            img{
                width: 100%;
                opacity: .3;
                transition: .3s ease opacity;
            }
            &:hover{
                img{
                    opacity: 1;
                }
            }
        }
    }
}
.attribute{
    padding: 4rem 3rem;
    display: flex;
    height: 300vh;
    position: relative;
    .outter{
        bottom: unset;
        top: 14%;
        position: sticky;
        right: -145px;
        width: 50rem;
        height: 50rem;
        transition: 1s ease all;
        img{
            transform: rotate(-67deg);
            height: 110%;
            transition: 1s ease all;
        }
    }
    .inner{
        width: 50rem;
        height: 50rem;
    }
    ul{
        $num-colors: 5;
        position: sticky;
        right: 50%;
        top: 40%;
        height: 100vh;
        @for $i from 0 to $num-colors {
            li:nth-child(#{$i}) {
                svg{
                    @include random-c();
                }
            }
        }
        li{
            color: $text;
            margin-bottom: 2rem;
            transition: .3s ease all;
            transform: translateX(100px);
            opacity: 0;
            &:nth-child(even){
                padding-right: 2rem;
            }
            &:nth-child(3){
                padding-right: 4rem;
            }
            svg{
                color: #000;
            }
        }
    }
}
.articleSlider{
    width: 75%;
    padding: 20rem 0rem 0rem;
    margin: 0 auto;
    text-align: center;
    h2{
        margin-bottom: 5rem;
    }
    .swiper {
        width: 100%;
        height: 100%;
        .swiper-wrapper{
            align-items: flex-end;
            .swiper-slide {
              text-align: center;
              font-size: 18px;
              cursor: grab;
              transition: .5s ease all;              
              transform-origin : 50% 100%; 
              /* Center slide text vertically */
              display: -webkit-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              -webkit-justify-content: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              -webkit-align-items: center;
              align-items: center;
              transform: scale(.5);
              img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              &.swiper-slide-next{
                transform: scale(1);
              }
              #_article_content{
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgb(0,0,0);
                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 40%, rgba(0,0,0,0) 100%);
                color: $text;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 2rem;
                p{
                    font-size: medium;
                }
                span{
                    font-size: small;
                }
              }
              a{
                  display: inherit;
                  &:active{
                    cursor: grabbing;
                  }
              }
            }
        }
    }
    button{
        margin: 7rem auto 0rem;
    }
}
.main-contactUs{
    padding: 30rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $text;
    font-size: 26px;
    background-image: url(../../../img/Group\ 51.png);
    background-position: center;
    background-repeat: no-repeat;
}