header .backHeader {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
header .backHeader img {
  height: 100%;
}
header .backHeader .headerCover {
  width: 95%;
  height: 71%;
  padding: 2% 3%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.2s ease width;
  position: fixed;
}
header .backHeader .headerCover.relative {
  padding: 2% 3%;
}
header .backHeader .headerCover.fixed {
  padding: 0.5rem 3rem;
  width: 100%;
  top: 0px;
  z-index: 100;
}
header .backHeader .headerCover.fixed nav .logo {
  height: 7vh;
}
header .react-parallax {
  width: 100%;
  height: 100%;
}
header .react-parallax .react-parallax-content {
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 2rem;
}

.main-about-us {
  padding: 0% 10%;
  float: left;
  height: 100vh;
}
.main-about-us #_square_text_box {
  width: 35rem;
  height: 35rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main-about-us #_square_text_box p {
  color: #d4d4d4;
  margin-bottom: 3rem;
  font-size: 1.5em;
}

.lens {
  padding: 10px 0px;
  width: 60%;
  height: 30rem;
  margin: 10rem auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lens::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -20px;
  width: 100%;
  height: calc(100% + 40px);
  background: linear-gradient(90deg, rgb(205, 95, 63) 0%, rgb(166, 64, 206) 50%, rgb(45, 226, 140) 100%);
  z-index: -1;
}
.lens #_border_gradient {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-image: url("../../../img/1dd3700.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lens #_border_gradient #_main_img {
  width: 100%;
}
.lens #_border_gradient #_fixed_img {
  position: fixed;
}
.lens canvas {
  position: relative;
  left: 50%;
  top: 50%;
  max-height: 100vh;
  max-width: 100vw;
  transform: translate(-50%, -50%);
}

.text-slide {
  padding: 5rem 0rem;
  display: flex;
  justify-content: center;
  color: #d4d4d4;
  position: relative;
}
.text-slide .swiper {
  width: 100%;
  height: 200px;
}
.text-slide .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #404040;
}
.text-slide .swiper-slide.swiper-slide-active {
  color: #404040;
}
.text-slide .swiper-slide.swiper-slide-next {
  color: #d4d4d4;
}

.main-products {
  padding: 13rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-products #_imgSlider {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.main-products .mySwiper {
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 7rem 0rem;
  width: 100%;
  height: 100%;
}
.main-products .mySwiper .slideItem {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.main-products .mySwiper .slideItem:nth-child(0) {
  border: 5px solid rgb(88, 2, 208);
}
.main-products .mySwiper .slideItem:nth-child(1) {
  border: 5px solid rgb(146, 5, 47);
}
.main-products .mySwiper .slideItem:nth-child(2) {
  border: 5px solid rgb(89, 241, 56);
}
.main-products .mySwiper .slideItem:nth-child(3) {
  border: 5px solid rgb(19, 147, 247);
}
.main-products .mySwiper .slideItem:nth-child(4) {
  border: 5px solid rgb(63, 57, 150);
}
.main-products .mySwiper .slideItem:nth-child(5) {
  border: 5px solid rgb(5, 220, 194);
}
.main-products .mySwiper .slideItem:nth-child(6) {
  border: 5px solid rgb(222, 16, 219);
}
.main-products .mySwiper .slideItem:nth-child(7) {
  border: 5px solid rgb(121, 237, 250);
}
.main-products .mySwiper .slideItem:nth-child(8) {
  border: 5px solid rgb(84, 80, 196);
}
.main-products .mySwiper .slideItem:nth-child(9) {
  border: 5px solid rgb(83, 26, 128);
}
.main-products .mySwiper .slideItem:nth-child(10) {
  border: 5px solid rgb(225, 102, 91);
}
.main-products .mySwiper .slideItem:nth-child(11) {
  border: 5px solid rgb(67, 117, 53);
}
.main-products .mySwiper .slideItem:nth-child(12) {
  border: 5px solid rgb(108, 67, 175);
}
.main-products .mySwiper .slideItem:nth-child(13) {
  border: 5px solid rgb(223, 211, 246);
}
.main-products .mySwiper .slideItem:nth-child(14) {
  border: 5px solid rgb(50, 109, 115);
}
.main-products .mySwiper .slideItem:nth-child(15) {
  border: 5px solid rgb(245, 152, 229);
}
.main-products .mySwiper .slideItem:nth-child(16) {
  border: 5px solid rgb(171, 83, 136);
}
.main-products .mySwiper .slideItem:nth-child(17) {
  border: 5px solid rgb(77, 91, 5);
}
.main-products .mySwiper .slideItem:nth-child(18) {
  border: 5px solid rgb(25, 28, 95);
}
.main-products .mySwiper .slideItem:nth-child(19) {
  border: 5px solid rgb(253, 110, 107);
}
.main-products .mySwiper .slideItem img {
  width: 100%;
  opacity: 0.3;
  transition: 0.3s ease opacity;
}
.main-products .mySwiper .slideItem:hover img {
  opacity: 1;
}

.attribute {
  padding: 4rem 3rem;
  display: flex;
  height: 300vh;
  position: relative;
}
.attribute .outter {
  bottom: unset;
  top: 14%;
  position: -webkit-sticky;
  position: sticky;
  right: -145px;
  width: 45rem;
  height: 45rem;
  transition: 1s ease all;
}
.attribute .outter img {
  transform: rotate(-67deg);
  height: 110%;
  transition: 1s ease all;
}
.attribute .inner {
  width: 45rem;
  height: 45rem;
}
.attribute ul {
  position: -webkit-sticky;
  position: sticky;
  right: 50%;
  top: 40%;
  height: 100vh;
}
.attribute ul li:nth-child(0) svg {
  color: rgb(223, 242, 188);
}
.attribute ul li:nth-child(1) svg {
  color: rgb(53, 70, 228);
}
.attribute ul li:nth-child(2) svg {
  color: rgb(124, 94, 238);
}
.attribute ul li:nth-child(3) svg {
  color: rgb(78, 186, 85);
}
.attribute ul li:nth-child(4) svg {
  color: rgb(132, 77, 9);
}
.attribute ul li {
  color: #d4d4d4;
  margin-bottom: 2rem;
  transition: 0.3s ease all;
  transform: translateX(100px);
  opacity: 0;
}
.attribute ul li:nth-child(even) {
  padding-right: 2rem;
}
.attribute ul li:nth-child(3) {
  padding-right: 4rem;
}
.attribute ul li svg {
  color: #000;
}

.articleSlider {
  width: 75%;
  padding: 20rem 0rem 0rem;
  margin: 0 auto;
  text-align: center;
}
.articleSlider h2 {
  margin-bottom: 5rem;
}
.articleSlider .swiper {
  width: 100%;
  height: 100%;
}
.articleSlider .swiper .swiper-wrapper {
  align-items: flex-end;
}
.articleSlider .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  cursor: -webkit-grab;
  cursor: grab;
  transition: 0.5s ease all;
  transform-origin: 50% 100%;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.5);
}
.articleSlider .swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.articleSlider .swiper .swiper-wrapper .swiper-slide.swiper-slide-next {
  transform: scale(1);
}
.articleSlider .swiper .swiper-wrapper .swiper-slide #_article_content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0) 100%);
  color: #d4d4d4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
}
.articleSlider .swiper .swiper-wrapper .swiper-slide #_article_content p {
  font-size: medium;
}
.articleSlider .swiper .swiper-wrapper .swiper-slide #_article_content span {
  font-size: small;
}
.articleSlider .swiper .swiper-wrapper .swiper-slide a {
  display: inherit;
}
.articleSlider .swiper .swiper-wrapper .swiper-slide a:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.articleSlider button {
  margin: 7rem auto 0rem;
}

.main-contactUs {
  padding: 30rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d4d4d4;
  font-size: 26px;
  background-image: url(../../../img/Group\ 51.png);
  background-position: center;
  background-repeat: no-repeat;
}/*# sourceMappingURL=style.css.map */