.careerOpportunities{
    #_header{
        padding: 6rem;
        height: calc(100vh - 118.03px);
        #__image{
            border: 3px solid #707070;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            img{
                width: 100%;
            }
            #__cover{
                width: 100%;
                height: 100%;
                position: absolute;
                background: rgb(28,25,23);
                background: linear-gradient(270deg, rgba(28,25,23,1) 21%, rgba(28,25,23,0) 100%);
            }
            #__text{
                position: absolute;
                color: #A3A3A3;
                padding: 4rem;
                width: 30%;
                font-size: 36px;
                line-height: 2;
            }
        }
    }
    .row{
        padding: 6rem;
        .position-sticky{
            padding: 5rem;
            border: 1px solid #707070;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            top: 2rem;
            p{
                color: #A3A3A3;
                text-align: center;
                margin-bottom: 10%;
                font-size: 16px;
            }
            #_buttons{
                display: flex;
                justify-content: space-between;
                button{
                    width: 48%;
                    background-color: #EFB401;
                    color: #404040;
                    border-radius: 4px;
                    color: #404040;
                    padding: .5rem;
                    transition: .3s ease all;
                    &:hover{
                        background-color: #d6a100;
                    }
                }
            }
        }
        .col-md-8{
            padding-right: 5rem;
        }
        #_search{
            width: 100%;
            input{
                background-color: transparent;
                border-top: none;
                border-right: none;
                padding: 0% 0% 1% 1%;
                font-size: 1.2em;
                height: 100%;
                width: 100%;
                border-color: #707070;
            }
        }
        #_careers{
            margin: 5rem 0rem 1rem;
            .item{
                color: #A3A3A3;
                border: 1px solid #707070;
                border-top: none;
                border-left: none;
                padding-right: 2rem;
                height: 40px;
                overflow: hidden;
                margin-bottom: 4rem;
                &.show{
                    height: max-content;
                }
                ._title{
                    margin-bottom: 1rem;
                    font-size: 16px;
                    cursor: pointer;
                }
                ._item{
                    margin-bottom: 2rem;
                    .__item_title{
                        display: flex;
                        align-items: center;
                        input{
                            display: none;
                            &:checked + label:after {
                                content: '';
                                width: 10px;
                                height: 10px;
                                position: absolute;
                                background-color: #A3A3A3;
                                border-radius: 50%;
                                right: 5px;
                            }
                        }
                        label{
                            display: flex;
                            align-items: center;
                            position: relative;
                            cursor: pointer;
                            &::before{
                                content: '';
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                border: 1px solid #A3A3A3;
                                margin-left: 10px;
                            }                        
                        }
                        span{
                            margin-right: 30px;
                            cursor: pointer;
                            svg.down{
                                transform: rotateX(180deg);
                            }
                        }
                    }
                    ._item_requires{
                        margin-top: 1rem;
                        background-color: #141414;
                        overflow: hidden;
                        height: 0px;
                        padding: 0px;
                        border: none;
                        transition: .3s ease all;
                        &.show{
                            border: 2px solid #44403c;
                            padding: 2rem 1.5rem;
                            height: max-content;
                        }
                    }
                }
            }
        }
    }
}